<!-- pages/searches/new   search form -->

<!-- search form -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>

</head>

<body>
  <header>
    <%- include('../../layout/header') %>
  </header>

  <!-- main body starts here-->
  <main>
    <!-- sub nav -->
    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="/new">Search</a>
      </li>
      <li>
          <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
    <!-- end sub nav -->

    <!-- Search form area -->
    <h1>Search by Title or Author</h1>
    <div>

    <form id="create-form" action="/searches" method="post">
      <section class="searchbar">
        <input type="text" name="search" placeholder="Enter a title or author" required>

        <button class="small-btn" type="submit">
          <i class="fab fa-google"></i>
        </button>
      </section>

      <section class="radiobuttons">
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
      </section>
    </form>
  </div>
  </main>
  <footer>
    <%- include('../../layout/footer') %>
  </footer>
</body>

</html>